services:
  postgres:
    image: postgres:15
    container_name: priceradar-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: priceradar
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: